<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.webratio.ide.deploy.core.LocalLaunchConfigurationType">
<booleanAttribute key="main.validateProjectDependencies" value="false"/>
<booleanAttribute key="model.authenticationAccess.adminEncryptPassword" value="false"/>
<stringAttribute key="model.authenticationAccess.adminPassword" value=""/>
<stringAttribute key="model.authenticationAccess.adminPath" value=""/>
<stringAttribute key="model.authenticationAccess.adminUsername" value=""/>
<booleanAttribute key="model.authenticationAccess.enableAdminArea" value="false"/>
<stringAttribute key="model.general.appPublicUrl" value=""/>
<booleanAttribute key="model.general.browserIntegration" value="false"/>
<stringAttribute key="model.general.defaultApplicationEncoding" value=""/>
<stringAttribute key="model.general.defaultCookieTimeout" value=""/>
<stringAttribute key="model.general.defaultServerEncoding" value=""/>
<stringAttribute key="model.general.fakeConfiguration" value=""/>
<stringAttribute key="model.general.httpPort" value="8080"/>
<stringAttribute key="model.general.httpsPort" value="8443"/>
<booleanAttribute key="model.general.inspectElements" value="false"/>
<stringAttribute key="model.general.maxUploadSize" value=""/>
<stringAttribute key="model.general.outputPath" value="${webapps_loc}/${project_name}"/>
<stringAttribute key="model.general.resourceServletPath" value=""/>
<stringAttribute key="model.general.runningProfile" value=""/>
<stringAttribute key="model.general.serverName" value=""/>
<stringAttribute key="model.general.sessionTimeout" value=""/>
<booleanAttribute key="model.general.useAbsoluteUrl" value="false"/>
<booleanAttribute key="model.general.useDefaultUrlEncoding" value="false"/>
<stringAttribute key="model.security.digestAlgorithm" value=""/>
<stringAttribute key="model.security.digestId" value=""/>
<stringAttribute key="model.security.digestProvider" value=""/>
<stringAttribute key="model.security.digestType" value=""/>
<booleanAttribute key="model.security.digestWithSessionId" value="false"/>
<stringAttribute key="model.security.moduleDomainName" value=""/>
<booleanAttribute key="model.security.protectBlob" value="false"/>
<booleanAttribute key="model.security.protectUrl" value="false"/>
<booleanAttribute key="model.security.strictModuleAccess" value="false"/>
<booleanAttribute key="model.servicesJobs.clusteredJobStore" value="false"/>
<booleanAttribute key="model.servicesJobs.enableRestSummaryPage" value="false"/>
<stringAttribute key="model.servicesJobs.jobDatabase" value=""/>
<stringAttribute key="model.servicesJobs.jobGroupName" value="WEBRATIO"/>
<stringAttribute key="model.servicesJobs.jobSchema" value=""/>
<stringAttribute key="model.servicesJobs.jobStoreType" value=""/>
<stringAttribute key="model.servicesJobs.jobTablePrefix" value=""/>
<stringAttribute key="model.servicesJobs.soapBindingStyle" value=""/>
<stringAttribute key="model.servicesJobs.soapVersion" value=""/>
<stringAttribute key="model.servicesJobs.targetNamespaceUri" value=""/>
<stringAttribute key="model.servicesJobs.threadPoolSize" value=""/>
<booleanAttribute key="providers.$db1$.databaseProvider.advanced.disableViewExportSuffix" value="false"/>
<booleanAttribute key="providers.$db1$.databaseProvider.advanced.readIndexes" value="false"/>
<booleanAttribute key="providers.$db1$.databaseProvider.advanced.readProcedures" value="false"/>
<stringAttribute key="providers.$db1$.databaseProvider.advanced.schemaMask" value=""/>
<booleanAttribute key="providers.$db1$.databaseProvider.advanced.showSqlInConsole" value="false"/>
<stringAttribute key="providers.$db1$.databaseProvider.advanced.tableExportPrefix" value=""/>
<stringAttribute key="providers.$db1$.databaseProvider.advanced.tableMask" value=""/>
<stringAttribute key="providers.$db1$.databaseProvider.advanced.viewExportPrefix" value=""/>
<stringAttribute key="providers.$db1$.databaseProvider.mapping.databaseMappingPassword" value="MjJmOUlMM0NrVg=="/>
<stringAttribute key="providers.$db1$.databaseProvider.mapping.databaseMappingType" value="MySQL"/>
<stringAttribute key="providers.$db1$.databaseProvider.mapping.databaseMappingUrl" value="jdbc:mysql://sql9.freemysqlhosting.net:3306/sql9144540"/>
<stringAttribute key="providers.$db1$.databaseProvider.mapping.databaseMappingUsername" value="sql9144540"/>
<stringAttribute key="providers.$db1$.databaseProvider.mapping.defaultSchema" value=""/>
<booleanAttribute key="providers.$db1$.databaseProvider.mapping.encryptDatabaseMappingPassword" value="true"/>
<stringAttribute key="providers.$db1$.databaseProvider.runtime.connectionProvider" value=""/>
<stringAttribute key="providers.$db1$.databaseProvider.runtime.connections" value=""/>
<stringAttribute key="providers.$db1$.databaseProvider.runtime.databaseJndiName" value=""/>
<stringAttribute key="providers.$db1$.databaseProvider.runtime.databaseRuntimePassword" value=""/>
<stringAttribute key="providers.$db1$.databaseProvider.runtime.databaseRuntimeType" value=""/>
<stringAttribute key="providers.$db1$.databaseProvider.runtime.databaseRuntimeUrl" value=""/>
<stringAttribute key="providers.$db1$.databaseProvider.runtime.databaseRuntimeUsername" value=""/>
<booleanAttribute key="providers.$db1$.databaseProvider.runtime.encryptDatabaseRuntimePassword" value="false"/>
<booleanAttribute key="providers.$db1$.databaseProvider.runtime.ignoreSchema" value="false"/>
<stringAttribute key="providers.$db1$.databaseProvider.runtime.transactionIsolation" value=""/>
<booleanAttribute key="providers.$db1$.databaseProvider.runtime.validateConnection" value="false"/>
<stringAttribute key="providers.$db1$.databaseProvider.runtime.validationQuery" value=""/>
<mapAttribute key="tasks.task0">
<mapEntry key="type" value="Clear Deployment Folder"/>
</mapAttribute>
<mapAttribute key="tasks.task1">
<mapEntry key="stopOnErrors" value="false"/>
<mapEntry key="type" value="Generate Web Application"/>
</mapAttribute>
</launchConfiguration>
